#include "resource.h"
#include "defs.h"

/******************************************************************************/
IDI_MAIN                ICON                    "res\\icon.ico"

/******************************************************************************/
1 RT_MANIFEST "res\\working-hours.manifest"

/******************************************************************************/
VS_VERSION_INFO VERSIONINFO
 FILEVERSION PROJECT_VER_1,PROJECT_VER_2,PROJECT_VER_3,PROJECT_VER_4
 PRODUCTVERSION PROJECT_VER_1,PROJECT_VER_2,PROJECT_VER_3,PROJECT_VER_4
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40000L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", PROJECT_AUTHOR
            VALUE "FileDescription", PROJECT_DESC
            VALUE "FileVersion", PROJECT_LAST_RELEASE
            VALUE "InternalName", PROJECT_NAME
            VALUE "LegalCopyright", PROJECT_CPYR
            VALUE "OriginalFilename", PROJECT_EXE ".exe"
            VALUE "ProductName", PROJECT_NAME
            VALUE "ProductVersion", PROJECT_VER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

/******************************************************************************/
IDD_MAIN_WND DIALOGEX 0,0,110,77
STYLE   DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_OVERLAPPED |
    NOT WS_VISIBLE | WS_CAPTION | WS_SYSMENU 
EXSTYLE WS_EX_APPWINDOW
CAPTION PROJECT_NAME
MENU IDR_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Arrival time:", IDC_STATIC, 7, 10, 50, 8
    CONTROL         "",IDC_ARR_TIME, DATETIMEPICK_CLASS, WS_BORDER | WS_CHILD |
                    WS_VISIBLE | DTS_TIMEFORMAT, 50, 7, 53, 14

    GROUPBOX        "You've worked for", IDC_STATIC, 7, 24, 96, 46
    LTEXT           "", IDC_WORK_TIME, 13, 35, 84, 28
END

/******************************************************************************/
IDD_ABOUT DIALOGEX 10,10,300,200
STYLE   DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_POPUPWINDOW
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "", IDC_APP_ICON, 7, 7, 32, 32, SS_ICON

    LTEXT           "Name: ",IDC_STATIC, 60,7,50,8
    LTEXT           "Author: ",IDC_STATIC, 60,31,50,8
    LTEXT           "Version: ",IDC_STATIC, 60,43,50,8
    LTEXT           "Git commit: ",IDC_STATIC, 60,55,50,8

    CONTROL         "<a>" PROJECT_MAIL "</a>",IDC_MAILTO,
                    "SysLink",WS_VISIBLE | WS_TABSTOP,170,31,99,8
    CONTROL         "<a>Get the latest version</a>",IDC_GET_LATEST,
                    "SysLink",WS_VISIBLE | WS_TABSTOP,170,43,80,8

    EDITTEXT        IDC_APP_NAME, 110,7,60,8,
                    NOT WS_BORDER | NOT WS_TABSTOP | ES_READONLY
    EDITTEXT        IDC_APP_DESC, 110,19,183,8,
                    NOT WS_BORDER | NOT WS_TABSTOP | WS_DISABLED
    EDITTEXT        IDC_APP_AUTHOR, 110,31,60,8,
                    NOT WS_BORDER | NOT WS_TABSTOP | ES_READONLY
    EDITTEXT        IDC_APP_VER, 110,43,60,8,
                    NOT WS_BORDER | NOT WS_TABSTOP | ES_READONLY
    EDITTEXT        IDC_APP_GIT, 110,55,183,8,
                    NOT WS_BORDER | NOT WS_TABSTOP | ES_READONLY
    

    EDITTEXT        IDC_LICTEXT, 7,72,286,103, 
                    WS_VSCROLL | ES_MULTILINE | ES_READONLY | NOT WS_TABSTOP

    DEFPUSHBUTTON   "Ok",IDOK,242,179,50,14
END

/******************************************************************************/
IDR_MENU MENU
BEGIN
    POPUP "&Working-hours"
    BEGIN
        MENUITEM "R&un at Startup",                 IDM_RUNATSTARTUP
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                           IDM_EXIT
    END    
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                          IDM_ABOUT
    END    
END

/******************************************************************************/
IDR_TRAY_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Show / Hide",    IDM_SHOWHIDE
        MENUITEM "R&un at Startup", IDM_RUNATSTARTUP
        MENUITEM SEPARATOR
        MENUITEM "&About",          IDM_ABOUT
        MENUITEM "E&xit",           IDM_EXIT
    END
END

/******************************************************************************/
STRINGTABLE
{
    IDS_MAIN_ERROR,     "Could not create main window."
} 
